body{
    padding: 0px;
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url('/pic/pic.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
.index{
    width: 400px;
    height: 400px;
    margin: 100px 50px 50px 460px;
    box-shadow:20px 20px 50px 15px rgb(253, 252, 252);
} 

.head{
    height: 90px;
    background-color: rgb(206, 200, 200);
    /* border-radius: 0.5em;  */
}
a:link{
    text-decoration: none;
}
#title{
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 35px;
}
.header-part{
    font-size: 23px;
    padding: -5px 0px 5px 10px;
    margin: -15px 0px 0px 15px;
    word-spacing: 10px;
}
.form{
    height: 220px;
     background-color: rgb(191, 236, 212); 
    text-align: center;
}
input[type=text] {
  border: 2px solid black;
  border-radius: 1em;
   width: 350px;
    height : 45px;
    margin-top: 60px;
}
button{
    background-color:rgb(241, 226, 159);
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 0.5em;
    margin-top: 18px;
    cursor: pointer;
     -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-size: 20px;
}

footer{
    height: 90px;
    background-color: pink;
    margin-top: -20px;
    border: none;
    text-align: center;
}
.foot{
    padding-top: 30px;
    font-size: 20px;
}

#value1{
    border: none;
    font-size: 15px;
    color: rgb(23, 27, 26);
    padding-left: 10px;
}
#value1{
    font-size: 25px;
    margin-top: 6px;
    text-align: center;
}
 #value2{
    font-size: 25px;
    margin-bottom: 150px;
    margin-top: -33px;
    text-align: center;
     
} 